#header
    #header-banner
    #header-nav
        a.nav-item(href="#{url_for('main.index')}") Home
        a.nav-item(href="#{url_for('main.news')}") News
        a.nav-item(href="#{url_for('main.rosters')}") Rosters