#stream-embed
    - var stream_embed = "https://player.twitch.tv/?channel=c2gs"
    - var stream_chat = "https://www.twitch.tv/embed/c2gs/chat"
    .stream-container
        iframe(src="#{stream_embed}", frameborder="0", allowfullscreen="true", scrolling="no", height=360, width=640)