#twitter-feed
    a.twitter-timeline(data-width='240', data-theme='light', href='https://twitter.com/StevensEsports') Tweets by StevensEsports
        script(async, src='https://platform.twitter.com/widgets.js', charset='utf-8')