::-webkit-scrollbar-button {
  display: none; }

  ::-webkit-scrollbar-thumb {
    background-color: #780021;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #5e001a; }

::-webkit-scrollbar-track {
  background-color: #040404; }

  ::-webkit-scrollbar {
    width: 8px; }

    * {
      font-family: 'Open Sans'; }

      body {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 100vh; }

        #header {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 15vh;
          justify-content: flex-start;
          position: fixed;
          width: 100%; }
          #header.hide {
            height: 0;
            opacity: 0; }
            #header.scrolling #header-banner {
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              height: 0; }
          #header #header-banner {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            background: #910028;
            height: 10vh;
            width: 100%; }
            #header #header-nav {
              align-items: center;
              background: #373737;
              display: flex;
              justify-content: flex-start;
              padding: 1rem 0;
              width: 100%; }
              @media only screen and (max-width: 640px) {
                #header #header-nav {
                  font-size: 0.5rem;
                  justify-content: center;   }
}
                #header #header-nav .nav-item {
                  color: white;
                  font-size: 1.75rem;
                  margin: 0 3rem;
                  text-align: center;
                  text-decoration: none; }
                  @media only screen and (max-width: 640px) {
                    #header #header-nav .nav-item {
                      font-size: 1.5rem;
                      margin: 0 1.5rem;   }
}

#stream-embed {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0; }

  #content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15vh; }
    #content #about {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%; }
      #content #about .title {
        font-size: 1.5rem; }
        #content #about .description {
          margin-bottom: 2rem;
          margin-top: 1rem;
          white-space: pre; }
