::-webkit-scrollbar-button {
  display: none; }

  ::-webkit-scrollbar-thumb {
    background-color: #780021;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #5e001a; }

::-webkit-scrollbar-track {
  background-color: #040404; }

  ::-webkit-scrollbar {
    width: 8px; }

    * {
      font-family: 'Open Sans'; }

      body {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 100vh; }

        #header {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 15vh;
          width: 100%; }
          #header #header-banner {
            background: #910028;
            height: 10vh;
            width: 100%; }
            #header #header-nav {
              background: #373737;
              display: flex;
              justify-content: flex-start;
              padding: 1rem 0;
              width: 100%; }
              @media only screen and (max-width: 640px) {
                #header #header-nav {
                  font-size: 0.5rem;
                  justify-content: center;   }
}
                #header #header-nav .nav-item {
                  color: white;
                  font-size: 1.75rem;
                  margin: 0 3rem;
                  text-align: center;
                  text-decoration: none; }
                  @media only screen and (max-width: 640px) {
                    #header #header-nav .nav-item {
                      font-size: 1.5rem;
                      margin: 0 1.5rem;   }
}

body {
  background: lightgray; }

  #content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12vh;
    width: 100%; }

    .team-container {
      background: white;
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem 0;
      width: 85%; }
      .team-container .team-name {
        color: #910028;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        width: 100%; }
        @media only screen and (max-width: 640px) {
          .team-container .team-name {
            font-size: 1.75rem;   }
}
      .team-container .team-players {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        padding: 1rem; }
        .team-container .team-players .team-player-card {
          align-items: center;
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
          display: flex;
          flex-direction: column;
          height: 15rem;
          justify-content: center;
          margin: 1rem 1rem;
          width: 12.5rem; }
          .team-container .team-players .team-player-card .player-image {
            align-items: center;
            background: #f2f2f2;
            display: flex;
            height: 60%;
            justify-content: center;
            width: 100%; }
            .team-container .team-players .team-player-card .player-info {
              align-items: center;
              background: #910028;
              box-sizing: border-box;
              color: white;
              display: flex;
              flex-direction: column;
              font-size: 0.85rem;
              height: 40%;
              justify-content: space-between;
              padding: 1rem;
              text-align: center;
              text-shadow: 1px 1px 5px #440013;
              width: 100%; }
              .team-container .team-players .team-player-card .player-info .player-tag {
                font-weight: bold;
                text-transform: uppercase; }
                .team-container .team-players .team-player-card .player-info .player-major {
                  font-size: 0.75rem; }

#footer {
  align-items: center;
  background: #373737;
  bottom: 0;
  display: flex;
  flex-shrink: 0;
  height: 12.5vh;
  left: 0;
  position: fixed;
  width: 100%; }
  #footer #games {
    align-items: center;
    background: #444;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    overflow-x: auto;
    width: 90%; }
    #footer #games .game-container {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 0.5rem;
      width: 15rem; }
      #footer #games .game-container .game-logo {
        width: 25%; }
        #footer #games .game-container .game-teams {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: center; }
          #footer #games .game-container .game-teams .game-logo {
            height: 100%;
            margin: 0;
            width: auto; }
            #footer #games .game-container .game-teams .team {
              color: white;
              margin-left: 1rem;
              text-decoration: none; }
  #footer #scroll-top-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%; }
    #footer #scroll-top-container .scroll-top-button {
      align-items: center;
      background: #910028;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      justify-content: center;
      padding: 0.25rem 0.75rem 0.5rem 0.75rem; }
      #footer #scroll-top-container .scroll-top-button:hover {
        background: #780021; }
        #footer #scroll-top-container .scroll-top-button:active {
          background: #5e001a; }
