$bg-nav: #373737;
$bg-roster-pattern: lightgray;
$bg-team-container: white;

$bg-unknown: url('/static/assets/unknown.png');
$bg-pattern: url('/static/assets/bg-pattern-1.png');
// $bg-pattern: url('/static/assets/bg-pattern-2.png');

$fg-1: lighten(red, 25%);
$fg-2: lighten(red, 15%);

$accent-1: lighten(orange, 15%);
$accent-2: lighten(orange, 5%);

$stevens-red: #910028;

$bb: 1px solid black;