@import '__base.scss';

#stream-embed {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.main-content {
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 85%;

    #about {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        
        .title {
            color: $stevens-red;
            font-size: 1.75rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px darken(white, 20%);
        }

        .description {
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
            width: 100%;
        }
    }
}