@import '__base.scss';

#stream-embed {
    @include mobile {
        //display: none;
    }
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 60%;
}

.main-content {
    @include mobile {
        flex-direction: column;
    }
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 85%;

    #about {
        @include mobile {
            width: 100%;
        }
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        
        .title {
            color: $stevens-red;
            font-size: 1.75rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px darken(white, 20%);
        }

        .description {
            margin-bottom: 2rem;
            margin-top: 1rem;
            width: 100%;
        }
    }
}