extends base.pug

block css
    +stylesheet('index.css')

block content
    #content
        .main-content
            include components/stream_embed.pug
            #about
                .title Stevens Esports
                .description.
                    blah blah blah text will go here &amp; i'll write that up
                    but for now just write some trash thanks kiddo