extends base.pug

block css
    +stylesheet('index.css')

block content
    #content
        .main-content
            include components/stream_embed.pug
            #about
                .title Stevens Esports
                .description.
                    Restructured in early 2019,
                    Stevens Esports is the home to 8 teams and counting for games like
                    Overwatch, CS:GO, Hearthstone, and more.
                    Teams have placed as high as 44th in the nation in the case of Overwatch,
                    and have been invited to numerous invitational events,
                    as well as made connections with the esports organizations at other colleges in the area. 